/* Schema container for the dropdowns */
.schema-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .schema-container .select {
    width: 48%; /* Two dropdowns per row */
  }
  
  @media (max-width: 768px) {
    .schema-container .select {
      width: 100%;
    }
  }

  /* Input for the Segment Name */
.segment-form .input {
  margin-bottom: 20px;
}

/* Button to Add New Schema */
.segment-form .btn {
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .segment-form .btn {
    width: 100%;
  }
}

  